.checkmark {
  height: 30px;
}

.checkmark:hover {
  -webkit-filter: drop-shadow(0px 0px 1px black);
  filter: drop-shadow(0px 0px 1px black);
}

.checkmark:active {
  -webkit-filter: none;
  filter: none;
}
