.checkmark{ 
  height: 30px;

}


.checkmark:hover {
  height: 45px;


  /* filter: hue-rotate(100deg);
-webkit-filter: hue-rotate(100deg) */
}



/* .checkmark {
  height: 30px;
  -webkit-filter: drop-shadow(0px 0px 3px #56CC9D);
  filter: drop-shadow(0px 0px 1px #56CC9D);
}

.checkmark:hover {
  -webkit-filter: drop-shadow(0px 0px 0px white);
  filter: drop-shadow(0px 0px 0px white);
} */
